doctype html
html(ng-app='ForUsers')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src='//cdn.bootcss.com/angular.js/1.6.0/angular.min.js')
    script(src='//cdn.bootcss.com/angular.js/1.6.0/angular-resource.min.js')
    script(src='//cdn.bootcss.com/angular.js/1.6.0/angular-route.min.js')
    script(src='//cdn.bootcss.com/angular.js/1.6.0/i18n/angular-locale_zh-hans.js')
    script(src='/javascripts/forusers.js')
  body
    block content